# Google Apps Script Web App URL
# You can get this by deploying your Apps Script as a Web App
VITE_ORDER_API_URL=https://script.google.com/macros/s/AKfycbwIZ9GTLcelcZUdXuprJBRJlB2mnlXYC36jJdFoNdzbAeALf66Y__Wf1fMFKpVQmocQoA/exec
